/* Root Variables */
:root {
    /* Primary Colors */
    --primary-blue: #023047;
    --secondary-blue: #219EBC;
    --light-blue: #8ECAE6;
    --accent-blue: #0A9396;
    --blue-col: #219EBC;
    /* Accent Colors */
    --orange: #FB8500;
    --light-orange: #FFA726;
    --dark-orange: #BB3E03;
    --btn-orange: #fb860026;
    --bg-orange: rgba(251, 133, 0, 0.1);
    --btn-orange-50: #FB8500, 0.5;

    --red: #AE2012;
    --yellow: #FFB703;
    --cream: #E9D8A6;

    /* Neutral Colors */
    --white: #FFFFFF;
    --light-gray: #f9f9f9;
    --border-gray: #BDBDBD;
    /* --border-color: --light-gray; */
    --text-color: #333;
    --background: #E8F7FF;

    /* Spacing */
    --spacing-xs: 0.25rem;
    --spacing-sm: 12px;
    --spacing-md: 16px;
    --spacing-lg: 16px;
    --spacing-xl: 2rem;

    /* Border Radius */
    --radius-sm: 6px;
    --radius-md: 12px;
    --radius-xl: 20px;
    --radius-btn: 80px;


    --card-1: #65BAE1;
    --card-2: #32AAC7;
    --card-3: #08A4A7;
    --card-4: #0B70A3;
    --card-5: #FFD78C;
    --card-6: #F8B202;
    --card-7: #FB8500;
    --card-8: #E15402;
    --card-9: #CD3325;
}

/* Reset and Base Styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--text-color);
    background: var(--background) !important;
    font-family: "Poppins", sans-serif !important;
    line-height: 1.5;
}

#wrapper {
    margin: 0 0 0 230px;
    padding: 0;
    background: var(--background) !important;
    position: relative;
    min-height: 100%;
}

/* Dashboard Layout */
/* .dashboard {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: var(--spacing-md);
} */

/* Card Base Styles */
.card {
    background: var(--white);
    border-radius: var(--radius-md);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* padding: var(--spacing-lg); */
    /* margin-bottom: var(--spacing-lg); */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    padding: 12px 16px;
    /* max-height: 170px; */
}
.card2 {
   
    border-radius: var(--radius-md);
   
    /* padding: var(--spacing-lg); */
    /* margin-bottom: var(--spacing-lg); */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    padding: 12px 16px;
    /* max-height: 170px; */
}

.card:hover {
    /* background-color: var(--light-gray); */
    /* transform: translateY(-2px); */
    /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); */
}

/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-md);
    margin-bottom: var(--spacing-lg);
}

/* Summary Section */
.summary-widget {
    margin-bottom: var(--spacing-xl);
    margin: 40px 40px 0px 40px;
}

.summary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--spacing-lg);
}

.summary-section {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}

/* Status Bar */
.status-bar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    gap: var(--spacing-sm);
    /* margin-bottom: var(--spacing-lg); */
}



.summary-item:hover {
    transform: translateY(-2px);

}

.summary-item {
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--radius-sm);
    text-align: center;
    font-weight: bold;
    font-size: 0.9rem;
    min-height: 78px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    align-items: flex-start;

    transition: transform 0.2s ease, box-shadow 0.2s ease;



    color: var(--white);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.summary-item.card-1 {
    background-color: var(--card-1);
}

.summary-item.card-2 {
    background-color: var(--card-2);
}

.summary-item.card-3 {
    background-color: var(--card-3);
}

.summary-item.card-4 {
    background-color: var(--card-4);
}

.summary-item.card-5 {
    background-color: var(--card-5);
}

.summary-item.card-6 {
    background-color: var(--card-6);
}

.summary-item.card-7 {
    background-color: var(--card-7);
}

.summary-item.card-8 {
    background-color: var(--card-8);
}

.summary-item.card-9 {
    background-color: var(--card-9);
}




/* Dashboard Section Layout */
.dashboard-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    /* margin-bottom: var(--spacing-xl); */

    margin: 20px 40px 40px 40px;
}

/* Widget Styles */
.widget {
    display: flex;
    flex-direction: column;
    /* gap: var(--spacing-md); */

}

.widget-content {
    /* display: grid; */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: var(--spacing-md);
}

.full-flex {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}


.full-flex .tw-grid {
    gap: 16px;
}

.card-element {
    border: 1px solid var(--border-gray);
    padding: var(--spacing-md);
    transition: transform 0.2s ease;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08);
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.08));
    align-items: flex-start;
    height: 100px;
    color: rgba(0, 0, 0, 0.40);
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: #F9F9F9;
    border-radius: 8px;
}

.card-element span {

    /* color: white !important; */

}


.widget-content {
    /* gap: 8px; */
    gap: 16px;
    flex: 1 0 0;
}

.tw-flex-1.card-element {

    white-space: nowrap !important;
}

.card-element:hover {
    transform: translateY(-2px);
}

/* HR Card Specific Styles */
.hr-card {
    background: var(--primary-blue) !important;
    color: var(--white);
}

.card-header {
    font-family: "Poppins", sans-serif;
    color: #000;

    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

/* Performance Section */
.performance {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: var(--spacing-lg);
    /* padding: var(--spacing-md); */
}

.agent {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--blue-col);
    transition: transform 0.2s ease;
    border-radius: 14px;
    height: 100px;


}

#agent_title_card {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;

}

.agent:hover {
    transform: translateY(-2px);
}

.agent img {

    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    /* padding-top: 8px; */
}


.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 12px !important;
    margin-bottom: 12px !important;
    margin-right: 12px !important;
    /* margin-left: 12px !important; */
}

.tab-section {
    gap: var(--spacing-md);
    background: #F4F4F5;
    padding: var(--spacing-sm);
    border-radius: var(--radius-xl);
    max-width: 316px;
    font-family: "Poppins", sans-serif;
    height: 28px;
}
.tab2-section {
    gap: var(--spacing-md);
    background: #F4F4F5;
    padding: var(--spacing-sm);
    border-radius: var(--radius-xl);
    max-width: 316px;
    font-family: "Poppins", sans-serif;
    height: 24px;
}

.tab-switch {
    position: relative;
    display: flex;
    width: 290px;
    height: 24px;
    /* background: var(--white); */
    border-radius: var(--radius-md);
    overflow: hidden;
    background: #F4F4F5;
    font-family: "Poppins", sans-serif;

    color: #71717A;
    text-align: center;


    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


}
.tab2-switch {
    position: relative;
    display: flex;
    width: 190px !important;
    height: 24px;
    /* background: var(--white); */
    border-radius: var(--radius-md);
    overflow: hidden;
    background: #F4F4F5;
    font-family: "Poppins", sans-serif;

    color: #71717A;
    text-align: center;


    font-size: 12px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


}



.tab-title {
    white-space: nowrap;
}

.tab {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: color 0.3s ease;
    z-index: 1;
}
.tab2{
    flex: 1;
    color: #71717A !important;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: color 0.3s ease;
        z-index: 1;
    font-size: 12px !important;

}

.tab.active {
    color: var(--orange);
    border-radius: 12px;
    background: var(--colors-base-force-dark, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
.tab2.active {
    color: #000000 !important;
    border-radius: 12px;
    background: var(--colors-base-force-dark, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    height: 16px;
    margin-top: 4px;
}


#leads_temp {

    gap: 16px;

}

#grid_tasks_all {
    gap: 16px;

}

#grid_tasks_me {
    gap: 16px;

}

.view-details {
    color: var(--orange);
    text-decoration: none;
    padding-left: 16px;
    /* border: 1px solid var(--primary-blue); */
    border-radius: var(--radius-btn);
    transition: all 0.2s ease;
    background: var(--btn-orange);
    height: 25px;
    align-items: center;
    align-self: center;
    align-content: center;
    width: 110px;
    /* padding-top: 2px; */


    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.view-details:hover {
    background: var(--orange);
    color: var(--white);
}

.view-details i:hover {
    transition: all 0.2s ease;

}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* Count Styles */
.count {
    font-size: 15px;
    font-weight: bold;
    margin-top: var(--spacing-xs);
    /* margin-top: -12px; */
}
.grid_tasks .active {
    /* border: blue; */
    /* border-radius: 2px; */
    /* border-style: solid; */
    border: 2px solid #004c73;
}
/* Count Styles */
.card-element .count {
    font-size: 24px;
    font-weight: bold;
    margin-top: var(--spacing-xs);
    margin-top: -12px;
}
.card-element .count2 {
    font-size: 15px;
    /* font-weight: bold; */
    margin-top: var(--spacing-xs);
    margin-top: -12px;
}

.container-custom {
    display: grid;
    grid-template-columns: 1.7fr 1fr;
    gap: var(--spacing-lg);
}

/* Responsive Design */
@media (max-width: 1200px) {
    .dashboard-section {
        grid-template-columns: 1.5fr;
    }

    .status-bar {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}


/* Responsive Design */
@media (max-width: 1100) {
    .dashboard-section {
        grid-template-columns: 1.75fr;
    }

    .status-bar {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}

@media (max-width: 992px) {
    .dashboard-section {
        grid-template-columns: 1fr;
    }

    .widget {
        min-height: auto;

    }
}

/* Responsive for medium and small screens */
@media (max-width: 1024px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 15px;
    }
}


@media (max-width: 768px) {
    .summary-section {
        flex-direction: column;
    }

    .status-bar {
        grid-template-columns: repeat(2, 1fr);
    }



    .performance {
        grid-template-columns: 1fr;

    }

    .card {
        padding: var(--spacing-md);
        /* min-width: -webkit-fill-available; */
    }

    .tab-section.full-flex {
        display: inline-flex;
        min-width: 250px;
        flex-wrap: nowrap;
        margin-bottom: 5px;
        /* min-width: auto; */
    }
    .taskstatus{
        border: none !important;  
    }
.tab-title{
    display: none;
}
    .sub-flex {
        margin-top: 12px;
    }

    .shrink {
        max-width: none;

    }

    .count {
        align-self: center;
    }

    .view-details {
        margin-bottom: 5px;
    }

    .full-flex {
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .container {
        grid-template-columns: 1fr;
        /* Single column on mobile */
    }

    .container-custom {
        display: grid;
        grid-template-columns: 1.5fr;
        gap: var(--spacing-lg);
    }

    .shrink.tool{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        width: 60%;
        padding:0% !important;
    }
.tab-section{
    margin-right: 4px;
}
.sub-flex .card-header{
    font-family: "Poppins", sans-serif;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0%;
}
}

@media (max-width: 480px) {
    .dashboard {
        padding: var(--spacing-sm);
    }

    .container-custom {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--spacing-lg);
    }

    .card-element {
        /* flex-direction: column; */
        max-width: 316px;
        /* width: 100%; */
    }

    .status-bar {
        grid-template-columns: 1fr;
    }

    .widget-content {
        grid-template-columns: 1fr;
        gap: 16px;
        display: grid;
    }

    .summary-item {
        width: 100%;
    }
    .content{
        margin: 10px 10px 10px 10px;
        padding: 10px 10px 10px 10px;
        min-width: 100%;    }
    
    }
    .tab-section.full-flex {
        display: inline-flex;
        min-width: 150px;
        flex-wrap: nowrap;
        margin-bottom: 5px;
        /* min-width: auto; */
    }
    .shrink.tool{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        width: 60%;
        padding:0%;
    }
    .sub-flex .card-header{
        padding: 2px;
    }

/* Utility Classes */
.text-center {
    text-align: center;
}

.mb-1 {
    margin-bottom: var(--spacing-sm);
}

.mb-2 {
    margin-bottom: var(--spacing-md);
}

.mb-3 {
    margin-bottom: var(--spacing-lg);
}

.mb-4 {
    margin-bottom: var(--spacing-xl);
}

/* Accessibility */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


.summary-widget.card {
    display: flow-root;

}

alert {
    display: block;
}

.flex-card-img {

    display: flex;
    width: 191px;
    align-items: center;
    gap: 12px;
    flex: 1 0 0;

}

.internal-card {
    display: inline-grid;
}

.internal-name {
    color: var(--Dark-1-Dark, #202020);
    font-feature-settings: 'liga' off, 'clig' off;

    /* Headline/H4 Medium */
    font-family: "Poppins", sans-serif !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.internal-name span {
    color: var(--Dark-3-Dark, #898989);
    font-feature-settings: 'liga' off, 'clig' off;

    /* Headline/H5 Regular */
    font-family: "Poppins", sans-serif !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.sub-flex {
    flex: 1;

    border-radius: 4px;
    background-color: #fff;
    height: 48px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
}

.shrink {
    max-width: fit-content;
    background: transparent;
}

.sub-flex .card-header {
    font-family: "Poppins", sans-serif;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    

    padding: 20px;
}


.sub-flex.tasks_header {
    padding: 0px 20px 0px 0px;
    margin: 0px 20px 0px 0px;
}

.tasks-section {
    padding: 0 24px 12px;
    min-width: 100%;
}

.button-pr {
    width: 140px;
    position: relative;
    border-radius: 4px;
    background-color: #004c73;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 16px;
    box-sizing: border-box;
    text-align: left;
    font-size: 16px;
    color: #fff;
    font-family: Poppins;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08);
    filter: drop-shadow(0px 1px 3px #0B70A3);
    transition: 0.4s;
}